[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "*"
python-dotenv = "*"
google-generativeai = "*"
markdownify = "*"
grpcio = "==1.60.1"
google-cloud-texttospeech = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
apibot = "uvicorn --reload ApiServices.apiServices:app"
telegrambot = "python3 ./src/app.py"

